# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\eGovFrameDev-3.9.0-64bit\workspace\map\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
